repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        args: [--safe, --quiet, --line-length=88]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt
        # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
        additional_dependencies: ["tox>=4.9"]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.10.0]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
        language_version: python3
      - id: no-commit-to-branch
        args: ['--branch', 'master']

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-builtins==1.5.3
          - flake8-typing-imports==1.12.0

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
        args: ["--application-directories=.:src:testing", --py3-plus]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-alpha.1
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.20.0
          - eslint-config-google@0.14.0
        args: ["--fix"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        files: ^(src/pytest_html|testing)
        additional_dependencies:
          - types-setuptools
  - repo: local
    hooks:
      - id: rst
        name: rst
        entry: rst-lint
        files: ^(README.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]

  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: djlint
        files: \.jinja2$
        language: python
        additional_dependencies: [djlint]

  - repo: https://github.com/elidupuis/mirrors-sass-lint
    rev: "5cc45653263b423398e4af2561fae362903dd45d"
    hooks:
      - id: sass-lint
