language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - pypy
  - pypy3
env:
  - PYTEST=2.6.4
  - PYTEST=2.7.2
install:
  - pip install -q pytest==$PYTEST
  - pip install -q -e .
script:
  - py.test
