[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
flake8 = "==3.8.4" # also bump this in .pre-commit-config.yaml
black = "==20.8b1" # also bump this in .pre-commit-config.yaml
pre-commit = "*"
pytest-rerunfailures = "*"

[packages]
pytest-html = {editable = true,path = "."}
