body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	/* do not increase min-width as some may use split screens */
	min-width: 800px;
	background-color: white;
	color: #999;
}

h1 {
	font-size: 24px;
	color: black;
}

h2 {
	font-size: 16px;
	color: black;
}

p {
    color: black;
}

a {
	color: #999;
}

table {
	border-collapse: collapse;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #aaa;
	}
	h1 {
		 color: #ccc;
	}
	h2 {
		color: #ccc;
	}
	p {
		color: #ccc;
	}
	a {
		color: #c6c2ab;
	}
}

/******************************
 * SUMMARY INFORMATION
 ******************************/

#environment td {
	padding: 5px;
	border: 1px solid #E6E6E6;
}

#environment tr:nth-child(odd) {
	background-color: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
	#environment td {
		border-color: #333;
	}
	#environment tr:nth-child(odd) {
		background-color: #292929;
	}
}

/******************************
 * TEST RESULT COLORS
 ******************************/
span.passed, .passed .col-result {
	color: green;
}
span.skipped, span.xfailed, span.rerun, .skipped .col-result, .xfailed .col-result, .rerun .col-result {
	color: orange;
}
span.error, span.failed, span.xpassed, .error .col-result, .failed .col-result, .xpassed .col-result  {
	color: red;
}

@media (prefers-color-scheme: dark) {
	span.passed, .passed .col-result {
		color: #4E9A06;
		font-weight: bold;
	}
	span.skipped, span.xfailed, span.rerun, .skipped .col-result, .xfailed .col-result, .rerun .col-result {
		color: #C4A000;
		font-weight: bold;
	}
	span.error, span.failed, span.xpassed, .error .col-result, .failed .col-result, .xpassed .col-result  {
		color: #CC0000;
		font-weight: bold;
	}
}

/******************************
 * RESULTS TABLE
 *
 * 1. Table Layout
 * 2. Extra
 * 3. Sorting items
 *
 ******************************/

/*------------------
 * 1. Table Layout
 *------------------*/

#results-table {
	border: 1px solid #e6e6e6;
	color: #999;
	font-size: 12px;
	width: 100%
}

#results-table th, #results-table td {
	padding: 5px;
	border: 1px solid #E6E6E6;
	text-align: left
}
#results-table th {
	font-weight: bold
}

@media (prefers-color-scheme: dark) {
	#results-table {
		border-color: #333;
		color: #aaa;
	}
	#results-table th, #results-table td {
		border-color: #333;
	}
}

/*------------------
 * 2. Extra
 *------------------*/

.log:only-child {
	height: inherit
}
.log {
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	color: black;
	display: block;
	font-family: "Courier New", Courier, monospace;
	height: 230px;
	overflow-y: scroll;
	padding: 5px;
	white-space: pre-wrap
}
div.image {
	border: 1px solid #e6e6e6;
	float: right;
	height: 240px;
	margin-left: 5px;
	overflow: hidden;
	width: 320px
}
div.image img {
	width: 320px
}
div.video {
	border: 1px solid #e6e6e6;
	float: right;
	height: 240px;
	margin-left: 5px;
	overflow: hidden;
	width: 320px
}
div.video video {
	overflow: hidden;
	width: 320px;
    height: 240px;
}
.collapsed {
	display: none;
}
.expander::after {
	content: " (show details)";
	color: #BBB;
	font-style: italic;
	cursor: pointer;
}
.collapser::after {
	content: " (hide details)";
	color: #BBB;
	font-style: italic;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.log {
		background-color: #0c0c0d;
		border-color: #333;
		color: #8c8c8c;
	}
	div.image {
		border-color: #333;
	}
	div.video {
		border-color: #333;
	}
	.expander::after {
		color: #c6c2ab;
		font-weight: normal;
	}
	.collapser::after {
		color: #c6c2ab;
		font-weight: normal;
	}
}

/*------------------
 * 3. Sorting items
 *------------------*/

.sortable {
	cursor: pointer;
}

.sort-icon {
	font-size: 0px;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	/*triangle*/
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.inactive .sort-icon {
	/*finish triangle*/
	border-top: 8px solid #E6E6E6;
}

.asc.active .sort-icon {
	/*finish triangle*/
	border-bottom: 8px solid #999;
}

.desc.active .sort-icon {
	/*finish triangle*/
	border-top: 8px solid #999;
}

@media (prefers-color-scheme: dark) {
	.inactive .sort-icon {
		border-top-color: #333;
	}
	.asc.active .sort-icon {
		border-bottom-color: #aaa;
	}
	.desc.active .sort-icon {
		border-top-color: #aaa;
	}
}
