$font-size-text: 12px;
$font-size-h1: 24px;
$font-size-h2: 16px;

$border-width: 1px;

$spacing: 5px;



body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $font-size-text;
	/* do not increase min-width as some may use split screens */
	min-width: 800px;
	color: #999;
}

h1 {
	font-size: $font-size-h1;
	color: black;
}

h2 {
	font-size: $font-size-h2;
	color: black;
}

p {
	color: black;
}

a {
	color: #999;
}

table {
	border-collapse: collapse;
}

/******************************
 * SUMMARY INFORMATION
 ******************************/

#environment {
	td {
		padding: $spacing;
		border: $border-width solid #E6E6E6;
	}

	tr:nth-child(odd) {
		background-color: #f6f6f6;
	}
}

/******************************
 * TEST RESULT COLORS
 ******************************/
span.passed,
.passed .col-result {
	color: green;
}

span.skipped,
span.xfailed,
span.rerun,
.skipped .col-result,
.xfailed .col-result,
.rerun .col-result {
	color: orange;
}

span.error,
span.failed,
span.xpassed,
.error .col-result,
.failed .col-result,
.xpassed .col-result {
	color: red;
}


/******************************
 * RESULTS TABLE
 *
 * 1. Table Layout
 * 2. Extra
 * 3. Sorting items
 *
 ******************************/

/*------------------
 * 1. Table Layout
 *------------------*/

#results-table {
	border: $border-width solid #e6e6e6;
	color: #999;
	font-size: $font-size-text;
	width: 100%;

	th,
	td {
		padding: $spacing;
		border: $border-width solid #E6E6E6;
		text-align: left;
	}

	th {
		font-weight: bold;
	}
}

/*------------------
 * 2. Extra
 *------------------*/

$extra-height: 240px;
$extra-media-width: 320px;

.log {
	background-color: #e6e6e6;
	border: $border-width solid #e6e6e6;
	color: black;
	display: block;
	font-family: "Courier New", Courier, monospace;
	height: $extra-height - 2 * $spacing;
	overflow-y: scroll;
	padding: $spacing;
	white-space: pre-wrap;

	&:only-child {
		height: inherit;
	}
}

div.image {
	border: $border-width solid #e6e6e6;
	float: right;
	height: $extra-height;
	margin-left: $spacing;
	overflow: hidden;
	width: $extra-media-width;

	img {
		width: $extra-media-width;
	}
}

div.video {
	border: $border-width solid #e6e6e6;
	float: right;
	height: $extra-height;
	margin-left: $spacing;
	overflow: hidden;
	width: $extra-media-width;

	video {
		overflow: hidden;
		width: $extra-media-width;
		height: $extra-height;
	}
}

.collapsed {
	display: none;
}

.expander::after {
	content: " (show details)";
	color: #BBB;
	font-style: italic;
	cursor: pointer;
}

.collapser::after {
	content: " (hide details)";
	color: #BBB;
	font-style: italic;
	cursor: pointer;
}

/*------------------
 * 3. Sorting items
 *------------------*/
.sortable {
	cursor: pointer;
}

.sort-icon {
	font-size: 0px;
	float: left;
	margin-right: $spacing;
	margin-top: $spacing;

	/*triangle*/
	$triangle-width: 8px;
	width: 0;
	height: 0;
	border-left: $triangle-width solid transparent;
	border-right: $triangle-width solid transparent;

	.inactive & {
		/*finish triangle*/
		border-top: $triangle-width solid #E6E6E6;
	}

	.asc.active & {
		/*finish triangle*/
		border-bottom: $triangle-width solid #999;
	}

	.desc.active & {
		/*finish triangle*/
		border-top: $triangle-width solid #999;
	}
}
