name: gh

on:
  create:  # is used for publishing to PyPI and TestPyPI
    tags:  # any tag regardless of its name, no branches
  push:  # only publishes pushes to the main branch to TestPyPI
    branches:  # any branch but not tag
    - >-
      **
    tags-ignore:
    - >-
      **
  pull_request:

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            name: linting-ubuntu
            python-version: 3.6

          - os: ubuntu-18.04
            name: py36-ubuntu
            python-version: 3.6

          - os: windows-latest
            name: py36-windows
            python-version: 3.6

          - os: macOS-latest
            name: py36-mac
            python-version: 3.6

          - os: ubuntu-18.04
            name: py37-ubuntu
            python-version: 3.7

          - os: windows-latest
            name: py37-windows
            python-version: 3.7

          - os: macOS-latest
            name: py37-mac
            python-version: 3.7

          - os: ubuntu-18.04
            name: py38-ubuntu
            python-version: 3.8

          - os: windows-latest
            name: py38-windows
            python-version: 3.8

          - os: macOS-latest
            name: py38-mac
            python-version: 3.8

          - os: ubuntu-18.04
            name: pypy3-ubuntu
            python-version: pypy3

          - os: windows-latest
            name: pypy3-windows
            python-version: pypy3

          - os: macOS-latest
            name: pypy3-mac
            python-version: pypy3
    steps:
    - name: Set Newline Behavior
      run : |
        git config --global core.autocrlf false
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix['python-version'] }}
    - name: Install tox
      run: |
        python -m pip install --upgrade tox
    - name: Get Tox Environment Name From Matrix Name
      uses: rishabhgupta/split-by@v1
      id: split
      with:
        string: '${{ matrix.name }}'
        split-by: '-'
    - name: Test with tox
      run: |
        python -m tox -e ${{ steps.split.outputs._0}}
